*.swp
*.old
*.csr
*/*.dSYM/
.DS_Store
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
xcuserdata
*.xccheckout
tmp/
cli
embedded-probes.h
examples-echo
libquicly.a
picotls-probes.h
quicly-probes.h
quicly-tracer.h
test.t
udpfw
examples-pipeclient
examples-pipeserver
